@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* colors */
  --background: #ffffff;
  --foreground: #171717;
  --primary-green-color: #4b9595;
  --cta-green-color: #32cd32;
  --light-mint-green-color: #ebffee;
  --gray-review-color: #edebeb;
  --gray-light-bg-color: #d9d9d9;
  --text-black-color: #0d1117;
  --warning-color: #ff6f61;
  --gray-dark-color: #959595;
  --gray-light-border-color: #c4c4c4;
  --gray-white-color: #f8f9fa;
  --entire-window-bg-color: #f6fff7;
  --inside-app-bg-color: #ebffee;
  --chat-panel-green-bg-color: #dff3e2;
  --active-hover-green-bg-color: #b8ffbf;

  /* border radius */
  --small-border-radius: 10px;
  --medium-border-radius: 30px;
  --large-border-radius: 50px;

  /* font size */
  --lowest-smallest-smallFont: 10px;
  --low-small-smallFont: 12px;
  --reg-normal-normFont: 16px;
  --mid-medium-midFont: 20px;
  --lower-midFont: 24px;
  --upper-midFont: 30px;
  --large-larFont: 35px;
  --lower-larFont: 40px;
  --upper-larFont: 50px;
  --small-extreme-larFont: 70px;
  --large-extreme-larFont: 80px;

  /* font weight */
  --bold-font-weight: 700;
  --lower-mid-font-weight: 500;
  --medium-font-weight: 600;
  --normal-font-weight: 400;
  --extrabold-font-weight: 800;

  /* components sizes */
  --first-panel-width: 200px;
  --second-panel-width: 455px;
  --third-panel-width: 833px;

  --panel-heights: 906px;
}

@layer components {
  .font-bold-headers {
    font-weight: var(--bold-font-weight);
    font-size: var(--mid-medium-midFont);
    color: var(--text-black-color);
  }

  @media (min-width: 320px) {
    .font-bold-headers {
      font-size: var(--upper-midFont);
    }
  }

  @media (min-width: 640px) {
    .font-bold-headers {
      font-size: var(--large-larFont);
    }
  }

  @media (min-width: 768px) {
    .font-bold-headers {
      font-size: var(--large-larFont);
    }
  }

  @media (min-width: 1024px) {
    .font-bold-headers {
      font-size: var(--large-larFont);
    }
  }

  @media (min-width: 1280px) {
    .font-bold-headers {
      font-size: var(--large-larFont);
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
}
