@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* colors */
  --background: #ffffff;
  --foreground: #171717;
  --primary-green-color: #4b9595;
  --cta-green-color: #32cd32;
  --light-mint-green-color: #ebffee;
  --gray-review-color: #edebeb;
  --gray-light-bg-color: #d9d9d9;
  --text-black-color: #0d1117;
  --warning-color: #ff6f61;
  --gray-dark-color: #959595;
  --gray-light-border-color: #c4c4c4;
  --gray-white-color: #f8f9fa;
  --entire-window-bg-color: #f6fff7;
  --inside-app-bg-color: #ebffee;
  --chat-panel-green-bg-color: #dff3e2;
  --active-hover-green-bg-color: #b8ffbf;

  /* border radius */
  --small-border-radius: 10px;
  --medium-border-radius: 30px;
  --large-border-radius: 50px;

  /* font size */
  --smallest-font-size: 10px;
  --small-font-size: 12px;
  --normal-font-size: 16px;
  --medium-font-size: 20px;
  --lower-medium-font-size: 24px;
  --upper-medium-font-size: 30px;
  --large-font-size: 35px;
  --lower-large-font-size: 40px;
  --upper-large-font-size: 50px;
  --small-extreme-large-font-size: 70px;
  --large-extreme-font-size: 80px;

  /* font weight */
  --bold-font-weight: 700;
  --lower-mid-font-weight: 500;
  --medium-font-weight: 600;
  --normal-font-weight: 400;
  --extrabold-font-weight: 800;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
}
